#hangman {
    position: relative;
    /* top: 100px;
    left: 200px; */
}

#hangman .head,
#hangman .torso,
#hangman .leftArm,
#hangman .leftLeg,
#hangman .rightArm,
#hangman .rightLeg {
    position: absolute;
    display: none;
}

#hangman .head {
    width: 100px;
    top: 90px;
    left: 330px;
}

#hangman .torso {
    width: 25px;
    top: 175px;
    left: 367px;
}

#hangman .leftArm {
    width: 90px;
    top: 160px;
    left: 300px;
}

#hangman .rightArm {
    width: 90px;
    top: 155px;
    left: 370px;
}

#hangman .leftLeg {
    width: 100px;
    top: 350px;
    left: 287px;
}

#hangman .rightLeg {
    width: 100px;
    top: 350px;
    left: 373px;
}

#contestant-input {
    display: flex;
}

#contestant-input .word-block {
    display: block;
    width: 50px;
    height: 40px;
    margin: 0 1rem;
}

#contestant-input .letter {
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 2rem;
    border-bottom: 2px solid black;
    color: transparent;
}

#phrase-input{
    display: flex;
}

#used-letters {
    border: 2px solid black;
    width: 400px;
}

#used-letters > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* #contestant-input .letter p {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
    display: none;
} */